{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
    <p>Vous êtes connecté en tant que {{ request.user }}!</p>
    <h1>Créer une critique</h1>
    <form method="POST" action="{% url 'create_review_and_ticket' %}" enctype="multipart/form-data">
        <div style="border: 1px solid black; padding: 10px; margin: 10px;">
            Livre / Article
            {{ ticket_form.as_p }}
        </div>
        {% csrf_token %}
        <div style="border: 1px solid black; padding: 10px; margin: 10px;">
            Critique
            {{ review_form.as_p }}
            <button type="submit">Enregistrer</button>
        </div>
    </form>
{% endif %}
{% endblock content %}