{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
<div class="create-ticket-container">
    <div class="form">
        <h1>Créer une critique</h1>
        <div class="form-container">
            <div class="form-container-inside">
                Vous êtes en train de poster en réponse à
                <div class="form-container-inside-content">
                    <div class='feed-content-top'>
                    {% if ticket.user == request.user %}
                    <span class="feed-author">Vous avez demandé une critique</span>
                    {% else %}
                    <span class="feed-author">{{ ticket.user }} a demandé une critique</span>
                    {% endif %}
                    
                    <span class="feed-date">{{ ticket.formatted_time_created }}</span>
                    </div>
                    <p>{{ ticket.title }}</p>
                    <p>{{ ticket.description }}</p>
                    <p>
                        {% if ticket.image_exists %}
                        <img src="{{ ticket.image.url }}" alt="Ticket Image">
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="form-container">
            Critique
            <form method="POST" enctype="multipart/form-data">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit">Enregistrer</button>
            </form>
        </div>
    </div>



<!--     
    <div class="create-ticket-container">
        <div class="form">
            <h1>Créer une critique</h1>
            <div class="form-container">
                <div class="feed-container-content">
                {% if ticket.user == request.user %}
                <p>Vous avez demandé une critique</p>
                {% else %}
                <p>{{ ticket.user }} a demandé une critique</p>
                {% endif %}
                
                <p>{{ ticket.formatted_time_created }}</p>
                <p>{{ ticket.title }}</p>
                <p>{{ ticket.description }}</p>
                <p>
                    {% if ticket.image_exists %}
                    <img src="{{ ticket.image.url }}" alt="Ticket Image">
                    {% endif %}
                </p>
                </div>
            </div>
            <div class="form-container">
                <form method="POST" enctype="multipart/form-data">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <button type="submit">Enregistrer</button>
                </form>
            </div>
        </div>
    </div> -->
{% endif %}
{% endblock content %}