{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
    <div class="feed-container">
        <div class="feed-btn-container">
            <a href="{% url 'create_ticket' %}">
                <button class="btn">Demander une critique</button>
            </a>
            <a href="{% url 'create_review_and_ticket' %}">
                <button class="btn">Publier une critique</button>
            </a>
        </div>
        {% for item in tickets_and_reviews_sorted %}
        {% if item.content_type == 'TICKET' %}
        <div class="feed-container-content">
            <div class='feed-content-top'>
                {% if item.user == request.user %}
                    <span class="feed-author">Vous avez demandé une critique</span>
                {% else %}
                    <span class="feed-author">{{ item.user }} a demandé une critique</span>
                {% endif %}
            
                <span class="feed-date">{{ item.formatted_time_created }}</span>
            </div>
            <p>{{ item.title }}</p>
            <p>{{ item.description }}</p>
            <p>
                {% if item.image_exists %}
                <img src="{{ item.image.url }}" alt="Ticket Image">
                {% endif %}
            </p>
            {% if item.has_review %}
            <div class="feed-container-content-inside">
                <div class='feed-content-top'>
                    {% if item.get_review.user == request.user %}
                        <span class="feed-author">Vous avez publié une critique / posted a review</span>
                    {% else %}
                        <span class="feed-author">{{ item.get_review.user }} a publié une critique / posted a review</span>
                    {% endif %}
                    <span class="feed-date">{{ item.get_review.formatted_time_created }}</span>
                </div>
                <p>{{ item.get_review.headline }} - {{ item.get_review.rating_display }}</p>
                <p>{{ item.get_review.body }}</p>
                {% if item.get_review.user == request.user %}
                <a href="{% url 'update_review' item.get_review.id %}">
                    <button class="btn">Éditer la critique</button>
                </a>
                <a href="{% url 'delete_ticket' item.get_review.id %}">
                    <button class="btn-delete-review">supprimer la critique</button>
                </a>
                {% endif %}
            </div>
            {% else %}
            {% if not item.get_review %}
            <a href="{% url 'create_review' item.id %}">
                <button class="btn-create-review">Créer une critique</button>
            </a>
            {% endif %}
            {% endif %}
        </div>
        {% elif item.content_type == 'REVIEW' %}
        <div class="feed-container-content">
            <div class='feed-content-top'>
                {% if item.user == request.user %}
                    <span class="feed-author">Vous avez publié une critique<</span>
                {% else %}
                    <span class="feed-author">{{ item.user }} a publié une critique</span>
                {% endif %}
                <span class="feed-date">{{ item.formatted_time_created }}</span>
            </div>
            <p>{{ item.headline }} - {{ item.rating_display }}</p>
            <p>{{ item.body }}</p>
            {% if item.user == request.user %}
                <a href="{{ update_review_url }}">Éditer / supprimer la critique</a>
                <a href="{% url 'update_review' item.get_review.id %}">
                    <button class="btn">Éditer la critique</button>
                </a>
                <a href="{% url 'delete_ticket' item.get_review.id %}">
                    <button class="btn-delete-review">supprimer la critique</button>
                </a>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
{% endblock content %}
