{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
    <div class="feed-container">
        {% for item in tickets_and_reviews_owner_sorted %}
        {% if item.content_type == 'TICKET' %}
        <div class="feed-container-content">
            <div class='feed-content-top'>
                {% if item.user == request.user %}
                <span class="feed-author">Vous avez demandé une critique</span>
                {% else %}
                <span class="feed-author">{{ item.user }} a demandé une critique</span>
                {% endif %}
            
                <span class="feed-date">{{ item.formatted_time_created }}</span>
            </div>
            <p>{{ item.title }}</p>
            <p>{{ item.description }}</p>
            <p>
                {% if item.image_exists %}
                <img src="{{ item.image.url }}" alt="Ticket Image">
                {% endif %}
            </p>
            <a href="{% url 'update_ticket' item.id %}">
                <button class="btn-create-review">Modifier</button>
            </a>
            <a href="{% url 'delete_ticket' item.id %}">
                <button class="btn-delete-review">Supprimer</button>
            </a>
        </div>
        {% elif item.content_type == 'REVIEW' %}
        <div class="feed-container-content">
            <div class='feed-content-top'>
                <span class="feed-author">Vous avez publié une critique / posted a review</span>
                <span class="feed-date">{{ item.formatted_time_created }}</span>
            </div>
            <p>{{ item.headline }} - {{ item.rating_display }}</p>
            <p>{{ item.body }}</p>
            <a href="{% url 'update_review' item.id %}">
                <button class="btn-create-review">Modifier</button>
            </a>
            <a href="{% url 'delete_review' item.id %}">
                <button class="btn-delete-review">Supprimer</button>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
{% endblock content %}
