{% extends 'base.html' %}
{% block content %}
  {% if user.is_authenticated %}
    <h1>Abonnements</h1>

    <h2>Suivre d'autres utilisateurs</h2>
    <form method="POST">
        {% csrf_token %}
        {{ FollowUserForm.follow_user }}
        <button type="submit">Envoyer</button>
    </form>

    {% if FollowUserForm.follow_user.errors %}
    <div>
        {{ FollowUserForm.follow_user.errors }}
        {% if followed_username %}
        Vous suivez déjà cet utilisateur ({{ followed_username }}).
        {% endif %}
    </div>
    {% endif %}

    <h2>Abonnements</h2>
    {% for subscription in subscriptions %}
        <li>
            {{ subscription.followed_user.username }}
            <form method="POST" action="{% url 'unsubscribe' subscription.id %}">
                {% csrf_token %}
                <button type="submit">Supprimer</button>
            </form>
        </li>
    {% endfor %}

    <h2>Abonnés</h2>
    <ul>
        {% for follower in followers %}
        <li>
            {{ follower.user.username }}
        </li>
        {% endfor %}
    </ul>
  {% endif %}
{% endblock content %}