{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
    <div class="create-ticket-container">
        <div class="form">
            <h1>Modifier votre ticket</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ update_form.as_p }}
                {% if ticket.image %}
                <img src="{{ ticket.image.url }}" alt="Ticket Image">
                {% endif %}
                <button type="submit">Enregistrer</button>
            </form>
        </div>
    </div>
{% endif %}
{% endblock content %}